<div fxLayoutAlign="center center" style="margin: 1rem 0rem">
  <mat-card
    [class.mat-elevation-z8]="true"
    class="registroCurso"
    fxFlex="40%"
    fxFlex.lt-md="90%"
  >
    <h1 class="centrar">Registro curso</h1>
    <form
      fxFlex
      [formGroup]="formularioRegistroCurso"
      (ngSubmit)="registrarCurso()"
    >
      <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
        <!-- Categoría -->
        <mat-form-field class="ancho-total">
          <mat-label>Categoría</mat-label>
          <mat-select
            formControlName="idCategoria"
            (selectionChange)="seleccionaPadre($event.value)"
          >
            <mat-option
              *ngFor="let idCategoriaList of categoriasPadre"
              [value]="idCategoriaList.id"
            >
              {{ idCategoriaList.nombre }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              this.formularioRegistroCurso.get('idCategoria')?.touched &&
              this.formularioRegistroCurso.get('idCategoria')?.invalid
            "
          >
            {{ revisarRN("idCategoria") }}
          </mat-error>
        </mat-form-field>
        <!-- Sub catergoría -->
        <mat-form-field
          class="ancho-total"
          *ngIf="subCategoriasPadre.length > 0"
        >
          <mat-label>Sub categoría</mat-label>
          <mat-select
            formControlName="idCategoriaPadre"
            (selectionChange)="seleccionaPadre($event.value)"
          >
            <mat-option
              *ngFor="let idCategoriaPadreList of subCategoriasPadre"
              [value]="idCategoriaPadreList.id"
            >
              {{ idCategoriaPadreList.nombre }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              this.formularioRegistroCurso.get('idCategoriaPadre')?.touched &&
              this.formularioRegistroCurso.get('idCategoriaPadre')?.invalid
            "
          >
            {{ revisarRN("idCategoriaPadre") }}
          </mat-error>
        </mat-form-field>
        <!-- Nombre del curso -->
        <mat-form-field class="ancho-total" *ngIf="idCategoriaPadre?.value">
          <mat-label>Nombre curso</mat-label>
          <input matInput formControlName="nombre" />
          <mat-error
            *ngIf="
              this.formularioRegistroCurso.get('nombre')?.touched &&
              this.formularioRegistroCurso.get('nombre')?.invalid
            "
          >
            {{ revisarRN("nombre") }}
          </mat-error>
        </mat-form-field>
        <!-- Descripción -->
        <mat-form-field class="ancho-total" *ngIf="idCategoriaPadre?.value">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            type="text"
            maxlength="2000"
            id="descripcion"
            name="descripcion"
            formControlName="descripcion"
          ></textarea>
          <mat-error
            *ngIf="
              this.formularioRegistroCurso.get('descripcion')?.touched &&
              this.formularioRegistroCurso.get('descripcion')?.invalid
            "
          >
            {{ revisarRN("descripcion") }}
          </mat-error>
        </mat-form-field>
        <!-- Valor de la hora -->
        <mat-form-field class="ancho-total" *ngIf="idCategoriaPadre?.value">
            <mat-label>Valor de la hora</mat-label>
            <input matInput type="number" formControlName="valorHora" />
            <mat-error
              *ngIf="
                this.formularioRegistroCurso.get('valorHora')?.touched &&
                this.formularioRegistroCurso.get('valorHora')?.invalid
              "
            >
              {{ revisarRN("valorHora") }}
            </mat-error>
          </mat-form-field>
        <!-- Btn registrar -->
        <div class="ancho-btn">
          <button
            fxFlex
            mat-raised-button
            type="submit"
            class="boton-aceptacion"
          >
            Registrar
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
