<app-spinner *ngIf="loading"></app-spinner>

<div fxLayoutAlign="center center" style="margin: 1rem 0rem;">
    <mat-card [class.mat-elevation-z8]="true" class="registro" fxFlex="40%" fxFlex.lt-md="90%">
        <h1 class="centrar">Registro</h1>
        <!-- Formulario -->
        <form fxFlex [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
            <div fxFlex fxLayout="column" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('nombre')?.touched &&
                        this.formularioRegistro.get('nombre')?.invalid">
                        {{ revisarRN('nombre') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Apellido</mat-label>
                    <input matInput formControlName="apellido" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('apellido')?.touched &&
                        this.formularioRegistro.get('apellido')?.invalid">
                        {{ revisarRN('apellido') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="ancho-total">
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select formControlName="tipoDocumentoUsuario">
                      <mat-option *ngFor="let tipoDocumento of tiposDocumento" 
                      [value]="tipoDocumento">
                        {{tipoDocumento.nombre}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('tipoDocumentoUsuario')?.touched &&
                        this.formularioRegistro.get('tipoDocumentoUsuario')?.invalid">
                        {{ revisarRN('tipoDocumentoUsuario') }}
                    </mat-error>
                </mat-form-field> 

                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Identificación</mat-label>
                    <input matInput formControlName="identificacion" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('identificacion')?.touched &&
                        this.formularioRegistro.get('identificacion')?.invalid">
                        {{ revisarRN('identificacion') }}
                    </mat-error>
                </mat-form-field>
                  
                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Correo</mat-label>
                    <input matInput formControlName="correo" class="transformacion-texto">
                    <mat-error *ngIf="
                        this.formularioRegistro.get('correo')?.touched &&
                        this.formularioRegistro.get('correo')?.invalid">
                        {{ revisarRN('correo') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Celular</mat-label>
                    <input matInput formControlName="celular" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('celular')?.touched &&
                        this.formularioRegistro.get('celular')?.invalid">
                        {{ revisarRN('celular') }}
                    </mat-error>
                </mat-form-field>
                  
                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Fecha de Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('fechaNacimiento')?.touched &&
                        this.formularioRegistro.get('fechaNacimiento')?.invalid">
                        {{ revisarRN('fechaNacimiento') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Departamento</mat-label>
                    <input matInput formControlName="departamento" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('departamento')?.touched &&
                        this.formularioRegistro.get('departamento')?.invalid">
                        {{ revisarRN('departamento') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Ciudad</mat-label>
                    <input matInput formControlName="ciudad" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('ciudad')?.touched &&
                        this.formularioRegistro.get('ciudad')?.invalid">
                        {{ revisarRN('ciudad') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Dirección</mat-label>
                    <input matInput formControlName="direccion" required>
                    <mat-error *ngIf="
                        this.formularioRegistro.get('direccion')?.touched &&
                        this.formularioRegistro.get('direccion')?.invalid">
                        {{ revisarRN('direccion') }}
                    </mat-error>
                </mat-form-field>
                  
                  <!-- <input type="file" (change)="onFileSelected($event)"> -->
                <button type="button" mat-raised-button (click)="fileInput.click()">Cargar Foto</button>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file">
                <br>
                <img [src]="fotoPersonaBase64" *ngIf="fotoPersonaBase64" alt="foto">

                <br>
                <!-- Contraseña -->
                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Contraseña</mat-label>
                    <input id="contraseña" class="input-contrasena" matInput [type]="tipoInput" formControlName="contrasena"/>
                    <div fxLayout="row" fxLayoutGap="0.5rem" matSuffix>
                        <mat-icon (click)="cambiarTipo()">remove_red_eye</mat-icon>
                        <mat-icon (click)="limpiarInputs('contrasena')">close</mat-icon>
                    </div>
                    <mat-error *ngIf="this.formularioRegistro.get('contrasena')?.touched && this.formularioRegistro.get('contrasena')?.invalid">
                        {{revisarRN('contrasena')}}
                    </mat-error>
                </mat-form-field>
                
                <mat-form-field appearance="fill" class="ancho-total">
                    <mat-label>Repetir contraseña</mat-label>
                    <input id="repetirContrasena" class="input-contrasena" matInput [type]="tipoInput" formControlName="repetirContrasena"/>
                    <div fxLayout="row" fxLayoutGap="0.5rem" matSuffix>
                        <mat-icon (click)="cambiarTipo()">remove_red_eye</mat-icon>
                        <mat-icon (click)="limpiarInputs('repetirContrasena')">close</mat-icon>
                    </div>
                    <mat-error *ngIf="this.formularioRegistro.get('repetirContrasena')?.touched && this.formularioRegistro.get('repetirContrasena')?.invalid">
                        {{revisarRN('repetirContrasena')}}
                    </mat-error>
                </mat-form-field>
                <mat-menu><span>Ir a </span>
                    <a [routerLink]="['/login']" mat-menu-item>login</a>
                </mat-menu>
                <br>
                <div class="ancho-btn">
                    <button fxFlex mat-raised-button type="submit" class="boton-aceptacion">
                      Registrar
                    </button>
                </div>
            </div>
        </form>
    </mat-card>
</div>